.App {
    /* text-align: center; */
}
.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
}
.left {
    grid-column: 2/3;
    background-color: red;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.right {
    grid-column: 3/4;
    background-color: green;
    margin-top: 40px;
    margin-bottom: 40px;
}
.prod-list {
    width: 80%;
}
